@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
}


:root{
  --soft-red:hsl(7, 99%, 70%);
  --yellow:hsl(51, 100%, 49%);
  --dark-cyan:hsl(167, 40%, 24%);
  --dark-blue:hsl(198, 62%, 26%);
  --dark-moderate-cyan:hsl(168, 34%, 41%);
  --very-dark-desaturated-blue:hsl(212, 27%, 19%);
  --very-dark-grayish-blue:hsl(213, 9%, 39%);
  --dark-grayish-blue:hsl(232, 10%, 55%);
  --grayish-blue:hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}



.hero-section{
    background-image: url("images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    height: 300px;
    padding: 2rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-links{
    list-style-type: none;
}

.navbar-links li{
    display: inline-block;
    margin-right: 1rem;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
}

.navbar-links li a{
    text-decoration: none;
    color: var(--white);
}


.navbar-links li a:hover{
    border: 1px solid hsla(0, 0%, 100%,0.3);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: hsla(0, 0%, 100%,0.3);
}




.section{
    display: flex;
    align-items: center;

}

.text-component{
    width: 300px;
}


